

li {
    
}

.kenzie-pic {
    width: 350px;
    margin-top: 50px;
    margin-left: 50px;
}

.austin-pic {
 width: 350px;
    margin-top: 50px;
    margin-left: 50px;
}

.aditi-pic {
    width: 350px;
    margin-left: 50px;
    margin-top: 50px;
}

.bridget-pic {
    width: 350px; 
    margin-top: 50px;
    margin-left: 50px;
}

.Welcome {
    margin-left: 50px;
    font-weight: bold;
    font-size: 45px;
}

.CustomerNote {
    margin-left: 500px;
    margin-top: -1400px;
    
}

.DearReaders {
    font-size: 30px;
    color: red;
    font-weight: 200
}

.Note_Readers {
    margin-left: -15
}

.Regards,BAMAPaws {
    font-size: 25px;
    
}

h2 {
    font-size: 25px;
    font-weight: 200;
    color: red;
}

h3 {
   
    margin-top: 70px;
    font-size: 30px;
    margin-left: -3
    
}

.GreatService {
  
    margin-top:50px;
    font-size: 25px;
    font-weight: bold;
}

.WhyBAMAPaws {
    width: 800px;
        margin-left: 3
}

.Why {
    width: 500px;
    margin-left: 500px;
    background-color: 
    margin-right: 100px;
    border-color: black;
    border-width: 10px;
}

.Safety {
    font-size: 25px;
    font-weight: bold;
}

.HowSafety {
    font-size: 15px;
    width:400px;
}

.HowCon. {
    width: 400px;
        font-size: 15px;
}

.HowService {
    font-size: 15px;
    width: 400px;
}

.GreatTimes {
    font-size: 25px;
    font-weight: bold;
}

.WhyService {
    font-size: 15px;
    width: 400px
}

.check1 {
    width: 40px;
    margin-left: 180px;
    margin-top: -55px;
}

.check2 {
    width: 40px;
    margin-left: 100px;
    margin-top: -55px;
}

.check3 {
    width: 40px;
    margin-left: 240px;
    margin-top: -50px;
    
}

.PawPic {
    width:100px;
    margin-left:950px;
    margin-top: -70px;
    
}

iframe {
    width: 500px;
    height:300px;
    margin-top: -55
}




h4{
    font-size: 30px;
    }

.FindUs {

}

.mapDiv {
    width: 600px;

}


